RewriteEngine On
RewriteBase /

# Zablokuj přímý přístup k data/
RewriteRule ^data/ - [F,L]

# Statické soubory v uploads/ servíruj přímo
RewriteRule ^uploads/ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]
